/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Special Elite, sans-serif;
}

button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}


.icon-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.icon-button--circle {
    border: 2px solid white;
    border-radius: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

ul {
    list-style: none;
    padding: 0;
}

.text-center {
    text-align: center;
}



/* Github Banner */

.github-banner i {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1000;
    font-size: 40px;
    color: white;
}

.github-banner::after {
    content: "";
    width: 200px;
    height: 200px;
    position: fixed;
    background-color: #b2a02a;
    top: -100px;
    right: -100px;
    transform: rotate(45deg);
}

/* Section Styles */

.gamescreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./assets/images/background.png) #193F6E no-repeat;
    background-size: cover;
    overflow: hidden;

}

.game-canvas {
    border: 5px solid black;
    background-color: #193F6E;
    max-height: 100%;
    max-width: 100%;
    font-family: "Special Elite";
    margin-top: 20px;
}

.gamescreen img {
    display: none;
}

.gamescreen button {
    font-size: 1rem;
    margin: 10px 10px;
    width: 2em;
    height: 2em;
}


.splashscreen, .mobile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./assets/images/background.png) #193F6E no-repeat;
    background-size: cover;
    overflow: hidden;
    color: white;
    text-align: center;
}

.splashscreen h1, .mobile h1 {
    font-size: 5em;
    color: #ffffbd;
    margin-bottom: 20px;
}

.splashscreen__welcome {
    margin-bottom: 30px;
    font-size: 1.1em;
}

.splashscreen__actions button {
    margin: 10px 20px;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
}

.username {
    margin-left: 10px;
    margin-top: 6px;
}

.username button {
    margin-left: 5px;
    font-size: 0.8em;

}

/* Modal */


.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 38, 66, 0.7)
}

.modal-content {
    position: relative;
    background: #ffffbd;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 800px;
}

.modal-close {
    color: red;
    font-size: 25px;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: transform ease-in 0.5s;
}

.modal-close:hover,
.modal-close:focus {
    transform: rotate(180deg);
}

/*  Modal Content - Help */

.help {
    font-size: 14px;
    min-height: 90%;
}

.help .help__header {
    margin-bottom: 20px;
}

.help__content {
    display: flex;
    padding-right: 20px;
    height: 100%;
}

.help__nav {
    border-right: 1px solid black;
    padding-right: 10px;
}


.help__nav li {
    padding: 10px;
    cursor: pointer;
}


.help__nav li.active {
    border-left: 2px solid black;
    background-color: rgba(30, 74, 127, 0.2);

}

.help__tab {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 30px;
}


.help h2 {
    margin-bottom: 10px;
}

.help h3 {
    margin-bottom: 5px;
    margin-top: 20px;
}

.help__game-play table {
    border-collapse: collapse;
}

.help__game-play td {
    border: 1px solid black;
    padding: 10px;
}

.help__game-play li:nth-of-type(1) {
    color: #FF6055;
}

.help__game-play li:nth-of-type(2) {
    color: #3AB954;
}

.help__game-play li:nth-of-type(3) {
    color: #FFAD4C;
}

.help__game-play img {
    width: 100%;
    margin-bottom: 10px;
}

.help__characters img {
    width: 50px;
}

.help__characters table {
    border-collapse: collapse;
}

.help__characters td {
    border: 1px solid black;
    padding: 10px;
}

/*  Modal Content - Leaderboard */


.leaderboard__name {
    margin: 20px 0;
}

.leaderboard__name .username__value {
    text-decoration: underline;
}

.leaderboard__helper {
    font-size: 12px;
    color: rgb(87, 84, 84);
}

.leaderboard table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin-top: 20px;
}

.leaderboard thead tr {
    background-color: #193F6E;
    color: white;
    padding: 20px;

}

.leaderboard tr {
    border: 1px solid #193F6E;
}


.leaderboard td, .leaderboard th {
    padding: 20px 10px;
}

.leaderboard .active {
    background-color: rgba(25, 63, 110, 0.3);
    border: 4px dotted #193F6E;

}

/* Mobile  */

.mobile {
    padding: 30px;
    display: none;
}

.mobile h1 {
    font-size: 4em;
}

.mobile p {
    font-size: 1.2em;
    line-height: 150%;
}

@media only screen and (max-width: 500px) {
    .mobile {
        display: flex;
    }

    body>section:not(.mobile) {
        display: none;
    }
}